<%= form_for(@product) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true, placeholder: "Enter product name" %>
  </p>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image, required: true %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :user_id , :value => current_user.id%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= render 'shared/errors', object: @product %>